*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
};



/* 
:root{
    --variable-name: value
}

selector{
    property: var(--variable-name);*/


:root{

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

nav ul{
    display:flex;
    gap: 1.9rem;
    list-style-type: none;
}

