*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(../images/background.jpg);
    color: white;
}

/* 
:root{
    --variable-name: value
}

selector{
    property: var(--variable-name);*/


/*Nav section*/


nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 2px 5px rgba(107, 107, 107, 0.726);
}

nav ul{
    display:flex;
    gap: 1.9rem;
    list-style-type: none;
}

nav a {
    color: white;
}

/*Hero section*/

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
}

.hero-image-container{
    width: 20rem;
}

.hero img{
    width: 100%;
    border-radius: 50%;
}

.hero-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0 1px 2px 2px rgba(241, 231, 231, 0.726);
    padding: 1rem;
    width: 30rem;
}

.hero-text-container h2{
    padding-bottom: 0.625rem;
}

.hero-text-container h3{
    padding-bottom: 0.625rem;
}

.hero-text-container button{
    width: 10rem;
}


/*about me section*/
#about{
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about-me h2{
    text-align: center;
}

.about-me p{
    padding: 0.6rem;
}

/*skills section*/
#skills{
    margin-top: 5rem;
}

.skills h2{
    text-align: center;
}

.skills-wrapper{
    display: flex;
    justify-content: center;
}

.skills-grid{
    display: grid;
    grid-template-areas:
    "html css"
    "js git";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem;

}

.skills-grid img{
    height: 11.25rem;
    width: 11.25rem;
}

.skills-card{
    border: 1px solid transparent;
    background-color: rgba(110, 105, 105, 0.726);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(53, 53, 53, 0.726);
}

.html-icon{
    grid-area: html;
}

.css-icon {
    grid-area: css;
}

.js-icon{
    grid-area: js;
}

.git-icon{
    grid-area: git;
}


/*projects section*/

.projects{
    margin-top: 2.5rem;
}

.projects h2{
    text-align: center;
    padding-bottom: 2rem;
}

.project-pic{
    width: 70%;
    height: 60%;
}

.projects-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project-container{
    width: 21.857rem;
    height: 15rem;
    text-align: center;
}
.projects-container h3{
    padding:0.5rem;
    }

.projects-container p{
    padding: 0.125rem;
}
